/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4A0072;
    padding: 20px;
    color: white;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #46064A;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px 0;
}

#home {
    background-color: darkgrey;
    text-align: center;
}

#home img {
    display: block;
    margin: 0 auto;
}

#about {
    background-color: lightskyblue;
}

#info {
    background-color: plum;
}

.services-section {
    background-color: olive;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.service-item {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
    flex: 1 1 calc(25% - 40px);
    box-sizing: border-box;
}

.service-item img {
    max-width: 100%;
    height: auto;
}

.service-item p {
    margin-top: 10px;
    font-weight: bold;
}

.contact-section {
    background-color: lightseagreen;
    text-align: center;
}

.contact-form {
    display: inline-block;
    text-align: left;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #4A0072;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #333;
}

/* Additional Styles */
.about-content h1, .about-content h2, .about-content h4, .about-content p {
    margin: 10px 0;
}

.about-content h1, .about-content h2 {
    text-align: center;
}

.about-content img {
    margin-bottom: 20px;
}

#info h1 {
    margin-top: 0;
}

#info h3, #info p {
    margin: 10px 0;
}
